{% extends 'base.html' %}
{% load bootstrap5 %}


{% block content %}

    <div class="card m-3">
        <div class="row">
            <div class="col">
              <img src="{{ course.image.url }}" class="card-img-top">
            </div>
            <div class="col">
                <div class="card-body" style="font-size: xx-large">
                    <h1 class="card-title">{{ course.course_name }}</h1>
                    <p class="text-muted">
                        Cost: {{ course.price }} $
                    </p>
                    <p class="text-muted">
                        Start time: {{ course.start_time }}
                    </p>
                    <p class="text-muted">
                        End time: {{ course.end_time }}
                    </p>
                    <span class="card-text">{{ course.detail_info }}</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}